[submodule "ocgcore"]
	path = ocgcore
	url = https://github.com/electrolyteJ/ygopro-core.git
	branch = feature/add-dynamic-libs-ci
[submodule "script"]
	path = script
	url = https://github.com/electrolyteJ/ygopro-scripts.git
